[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "==2.0.0rc1"
requests = "*"
numpy = "*"
pymongo = {extras = ["srv"], version = "*"}
feedparser = "*"
python-dotenv = "*"
validators = "*"
beautifulsoup4 = "*"
nest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.9"
