[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pymongo = {extras = ["srv"], version = "*"}
feedparser = "*"
python-dotenv = "*"
validators = "*"
beautifulsoup4 = "*"
nest-asyncio = "*"
py-cord = {git = "https://github.com/Pycord-Development/pycord"}

[dev-packages]

[requires]
python_version = "3.9"
